.music-app-section {
    background: rgb(26, 15, 5);
    overflow: hidden;
}

.images img {
    height: 36px;
    border-radius: 50%;
    width: 37px;
}

.search {
    display: flex;
    justify-content: center;
}

.tracks {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

.for-you {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.top-track {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

.names p {
    margin-bottom: 0px;
    text-align: left;
    /* font-weight: 400;
    color: #FFFFFF; */
}

.contents {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    padding-bottom: 7px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 30px;
    width: 101px;
    /* padding-top: 4px; */
}

.profile {
    height: 40px;
    width: 43px;
}

.song-name{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.artist{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.menu{
    color: #00A948;
    font-size: 26px;
}
.menu-items {
    /* text-align: left; */
    display: flex;
    justify-content: left;
    align-items: center;
}


@media only screen and (max-width: 768px){
    .song-wrapper{
        display: none;
    }
    .menu{
        display: block;
    }
}
@media only screen and (min-width: 768px){
    .song-wrapper{
        display: block;
    }
    .menu{
        display: none;
    }
}
