@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.images img {
    height: 36px;
    border-radius: 50%;
    width: 37px;
}

.search {
    display: flex;
    justify-content: center;
}

.tracks {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
}

.for-you a{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
}

.top-track {
    font-size: 24px;
    font-weight: 700;
    color: rgb(87 84 84 / 54%);
}

.names p {
    margin-bottom: 0px;
    text-align: left;
}

.contents {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    padding-bottom: 7px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 30px;
}

.profile {
    height: 40px;
    width: 43px;
}

.song-name{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.artist{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.menu{
    color: #00A948;
    font-size: 26px;
}
.menu-items {
    display: flex;
    justify-content: left;
    align-items: center;
}

.song-wrapper{
    width: 60%;
}

.musicControllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 18px;
    gap: 12px;
}

.mainControllers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.volumeSlider {
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    background: #444;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    position: absolute;
    top: 40px;
    right: -3px;
}

.volumeSlider:hover {
    opacity: 1;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.volumeSlider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}


.musicProgressBar {
    width: 100%;
    height: 5px;
    background: #444;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    margin-top: 10px; 
}


.volume-set {
    color: #fff;
    background-color: rgba(61, 61, 61, 0.538);
    border-radius: 50%;
    padding: 9px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.option-set{
    color: #fff;
    background-color: rgba(61, 61, 61, 0.538);
    border-radius: 50%;
    padding: 9px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mainControllers{
    color: #fff;
    cursor: pointer;
}

.landing-container{
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}





.music-Container {
    width: 270px;
    padding: 35px 40px;
    display: flex;
    border-radius: 36px;
    box-shadow: 0 0 20px rgba(26, 26, 26, 0.1),
        0 0 40px rgba(26, 26, 26, 0.1),
        0 0 80px rgba(26, 26, 26, 0.1);
    backdrop-filter: blur(15px);
    font-weight: 600;
}

.musicPlayer {
    margin: 0;
    margin-bottom: 10px;
    color: var(--mainLightColor);
}

.music-Head-Name {
    color: #fff;
    margin: 0 auto;
    font-size: 1.5rem;
}

.music-Artist-Name {
    color: #fff;
    margin: 4px 0;
    font-size: 1.2rem;
    font-weight: 400;
}


#songAvatar {
    width: 300px;
    height: 300px;
    /* border-radius: 50%; */
    margin: 18px 0;
    position: relative;
    cursor: pointer;
    animation: animateAvatar .5s linear infinite;
}

@keyframes animateAvatar {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }
}

.musicTimerDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}


.playBtn {
    font-size: 32px;
    margin: 8px 10px;
    color: var(--mainColor);
    cursor: pointer;
    font-weight: 400;
}

.musicControler {
    cursor: pointer;
    font-size: 28px;
    color: var(--mainColor);
}

.changeBackBtn {
    width: 200px;
    height: 15px;
    background-color: #eee;
    position: absolute;
    border-radius: 12px 12px 0 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: .3s;
    color: #eee;
    cursor: pointer;
    padding: 3px 0 0 0;
    font-weight: 600;
    text-align: center;
}

.changeBackBtn:hover {
    height: 30px;
    color: #222;
}

.objectFitCover {
    object-fit: cover;
}

.objectFitContain {
    object-fit: contain;
}

@media only screen and (max-width: 768px) {
    .audio-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.music-text-head {
    text-align: left;
}

.selected-song {
    background-color: rgba(61, 61, 61, 0.538);
    border-radius: 5px;
}

.cursor-pointer {
    cursor: pointer;
}



/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;  /* Adjust the width as needed */
    width: 100%;  /* Adjust the width as needed */
    height: 100%;
    background-color: #111;
    color: white;
    transition: left 0.3s ease-in-out;
    z-index: 1000; /* Make sure the sidebar is on top */
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .sidebar-content {
    padding: 20px;
  }

  @media only screen and (min-width: 768px){
    .music_player{
        height: 94vh;
    }
    
  }
  

